snippet pa "package main" b
package main
endsnippet

snippet f "func main" b
func ${1:main}() {
	${2}
}
endsnippet

snippet p "fmt.Println()" b
fmt.Println(${1})
endsnippet

snippet pf "fmt.Printf('')" b
fmt.Printf("${1}")
endsnippet

snippet inter "interface" b
type ${1:name} interface {
	${2}
}
endsnippet
