snippet pack "package main" b
package main
endsnippet

snippet f "func main" b
func ${0:main}() {
	${1}
}
endsnippet

snippet p "fmt.Println()" b
fmt.Println(${0})
endsnippet

snippet im "import package" b
import (
	"fmt"
)
endsnippet
