snippet tt "markdown table" b
|${1}|${2}|
endsnippet

snippet img "markdown img" b
![](${1:pause img here})
endsnippet

snippet table "markdown full table" b
|${1}|${2}|
|----|----|
|${3}|${4}|
endsnippet

snippet code "code block" b
\`\`\`${1:bash}
$2
\`\`\`
endsnippet
